<h1>Donate</h1>

<p><strong>Parking Sinpapeles</strong> is a free parking service, maintained with donations.</p>



<div style="width: 600px; margin: 0 auto;">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h2>Bitcoin</h2>
            <code>1HtMMipMyUxassJfS13zZ5oLNmG6zdmG2K</code>
        </div>
        <img src="https://api.qrserver.com/v1/create-qr-code/?data=1HtMMipMyUxassJfS13zZ5oLNmG6zdmG2K&size=220x220&margin=0"
            alt="1HtMMipMyUxassJfS13zZ5oLNmG6zdmG2K" />
    </div>

    <hr class="m-5" />

    <div class="text-center">
        <style>
            .bmc-button img {
                height: 34px !important;
                width: 35px !important;
                margin-bottom: 1px !important;
                box-shadow: none !important;
                border: none !important;
                vertical-align: middle !important;
            }

            .bmc-button {
                padding: 7px 15px 7px 10px !important;
                line-height: 35px !important;
                height: 51px !important;
                text-decoration: none !important;
                display: inline-flex !important;
                color: #FFFFFF !important;
                background-color: #FF813F !important;
                border-radius: 5px !important;
                border: 1px solid transparent !important;
                padding: 7px 15px 7px 10px !important;
                font-size: 22px !important;
                letter-spacing: 0.6px !important;
                box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
                -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                margin: 0 auto !important;
                font-family: 'Cookie', cursive !important;
                -webkit-box-sizing: border-box !important;
                box-sizing: border-box !important;
            }

            .bmc-button:hover,
            .bmc-button:active,
            .bmc-button:focus {
                -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                text-decoration: none !important;
                box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
                opacity: 0.85 !important;
                color: #FFFFFF !important;
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button"
            target="_blank" href="https://www.buymeacoffee.com/falci"><img
                src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee"><span
                style="margin-left:5px;font-size:28px !important;">Buy me a coffee</span></a>
    </div>

    <hr class="m-5" />

    <div class="d-flex justify-content-between align-items-center">
        <img src="https://api.qrserver.com/v1/create-qr-code/?data=hs1qwrvjrp6wydwtq7hv4n2cuhcmx90k3dcgqqxxn5&size=220x220&margin=0"
            alt="hs1qwrvjrp6wydwtq7hv4n2cuhcmx90k3dcgqqxxn5" /><br />
        <div>
            <h2>Handshake</h2>
            <code>hs1qwrvjrp6wydwtq7hv4n2cuhcmx90k3dcgqqxxn5</code>
        </div>
    </div>
</div>