<!DOCTYPE html>
<html>

<head>
  <title>Parking Sinpapeles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/bootstrap.min.css" />
  {{!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> --}}
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha512-I5TkutApDjnWuX+smLIPZNhw+LhTd8WrQhdCKsxCFRSvhFx2km8ZfEpNIhF9nq04msHhOkE8BMOBj5QE07yhMA=="
    crossorigin="anonymous"></script> --}}
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a href="{{#unless isICANN}}{{#if host}}http://parking.sinpapeles{{/if}}{{/unless}}/" class="navbar-brand">Parking
        Sinpapeles</a>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/donate">Donate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://t.me/parking_sinpapale" target="_blank">Telegram</a>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <div class="container" id="main">
    {{{body}}}

    <footer id="footer">
      <div class="container">
        <ul class="d-flex list-unstyled">
          {{#unless isICANN}}<li class="mr-2 d-none d-sm-block"><a href="http://parking.sinpapeles">Parking
              Sinpapeles</a></li>{{/unless}}
          <li class="mr-2"><a href="/about">About</a></li>
          <li class="mr-2"><a href="/donate">Donate</a></li>
          <li class="mr-2"><a href="https://t.me/parking_sinpapale" target="_blank">Telegram</a></li>
          <li class="flex-grow-1 text-right d-none d-sm-block">We use no cookies</li>
        </ul>
      </div>

    </footer>
  </div>
</body>

</html>