<h1>Swap</h1>

<p>Hello!</p>
<p>If you are here, you probably found a domain that you want to buy, or found a buyer for your domain.<br />Either case
    Sinpapeles is here to help you!<br />If both, buyer and seller, trust in Parking.Sinpapeles, I can be the mediator
    for this name swap.</p>
<p>Parking.Sinpapeles is a community relatively small and doesn't have yet an automated system for name swap.</p>
<p>What I'm offering is to be that 3rd-party, that receives HNS from the buyer and confirm to the seller that the domain
    can be transferred.<br />After we see the transfer done, I send the HNS to seller.<br />If a something happens and
    the transfer is not finished, I can rollback and return the HNS to buyer.</p>
<p>This process is totally manual (for now).</p>
<p>If you both are ok with that, I'd be happy to be the mediator. You can reach me out on <a href="https://t.me/falci"
        target="_blank">Telegram</a>.<br />Things I'll need to know:</p>
<ul>
    <li><strong>Domain name</strong> that will be transfered.</li>
    <li><strong>Buyer's address:</strong> I'll consider the transfer complete once the name is sent this address.</li>
</ul>
<p>Over the chat I'll provide the address for payment.</p>