#main {
  margin: 60px auto;
}

.jumbotron {
  margin: 10vh auto 20px;
}
.parking {
  text-align: center;
  width: 500px;
  max-width: calc(100vw - 100px);
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  z-index: 3;
}
