#main {
  margin: 60px auto;
}

.icann .navbar {
  margin-top: 45px;
}

@media only screen and (max-width: 535px) {
  .icann .navbar {
    margin-top: 64px;
  }
}

.icann #main {
  margin: 10px auto;
}

.jumbotron {
  margin: 10vh auto 20px;
}
.parking {
  text-align: center;
  width: 500px;
  max-width: calc(100vw - 100px);
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  z-index: 3;
}
